.home {
  background-image: url(../img/bg-hero.png);
  background-size: 2330px;
  background-repeat: no-repeat;
  background-position: -16em 0;
}
.hero-container {
  width: 1100px;

  text-align: center;
  margin: 0 10.625em;

  color: $color-white;

  .hero__text {
    margin: 0 10.7em 0 10.7em;
    margin-top: 5em;
    .hero__main-head {
      margin-bottom: 0;
    }
    .hero__sub-head {
      margin-top: 1.5em;
      margin-left: 9.25em;
      margin-right: 9.25em;
    }
  }

  .hero__button {
    margin: 5em 21.75em;
    .hero__btn-trial {
      margin-left: 1.5em;
    }

    .hero__btn-trial:hover {
      letter-spacing: 0.05em;
    }
  }

  .hero__dashboard {
    .hero__dashboard-img {
      width: 1016px;
      height: 614px;
    }

    margin-bottom: 1.92em;
  }

  .hero__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.625em;

    margin-bottom: 5em;

    .hero__item {
      display: flex;
      gap: 0.8em;
    }
  }
}
