.navbar {
  position: fixed;
  top: 0;
  height: 86px;
  width: 100%;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-white;
  background-color: rgba($color-dark-blue, 0.5);
  backdrop-filter: blur(10px);

  cursor: pointer;
  z-index: 200;

  @include media-query(lg) {
    padding: 0 1em;
  }

  .navbar__left {
    .navbar__title {
      margin: 1.625rem 0;
    }
  }

  .navbar__mid {
    .navbar__list {
      display: flex;
      gap: 2.5em;

      margin: 2em 0;
      margin-left: 10em;
      margin-right: 8em;

      @include media-query(lg) {
        gap: 2em;

        margin-left: 5em;
        margin-right: 3em;
      }

      .navbar__item {
        list-style: none;

        transition: 0.2s;
        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }

  .navbar__right {
    margin: 1.25em 0;

    display: flex;
    gap: 2.25em;

    .navbar__sign-in,
    .navbar__sign-up {
      text-decoration: none;
      padding: 0.75em 0.7em;
      text-align: center;

      color: $color-white;
      border-radius: 10px;

      transition: 0.2s;

      &:hover {
        background-color: $color-white;
        color: $color-dark-blue;
      }
    }

    .navbar__sign-up {
      outline: solid 2px $color-white;
    }
  }

  .active {
    font-weight: 700;
  }
}
