.why {
  color: $color-dark-deep-blue;

  margin-bottom: 5em;

  .why__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .why__heading {
      text-align: center;
      margin: 2.6em 7.4em 2.1em 7.4em;

      @include media-query(lg) {
        margin-left: 3.4em;
        margin-right: 3.4em;
      }
    }

    .why__stats {
      width: 1100px;
      margin-bottom: 3em;

      @include media-query(lg) {
        width: 850px;
      }
    }
  }
}
