* {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
@media only screen and (max-width: 1199.98px) {
  .container {
    max-width: 992px;
  }
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
}

h2 {
  font-size: 3rem;
  line-height: 1.05;
}

h3 {
  font-size: 2rem;
  line-height: 1.05;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.05;
}

.text-xl-bold {
  font-size: 1.5rem;
  line-height: 1.1;
}

.text-xl-regular {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1;
}

.text-l-bold {
  font-size: 1.125rem;
  line-height: 1.35;
}

.text-l-regular {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.35;
}

.text-m-bold {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 700;
}

.text-m-medium {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

.text-m-regular {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.text-s-bold {
  font-size: 0.875rem;
  line-height: 1.4;
}

.text-s-medium {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
}

.text-s-regular {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
}

.text-xs-bold {
  font-size: 0.75rem;
  line-height: auto;
}

.text-xs-regular {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: auto;
}

.btn {
  text-decoration: none;
  padding: 1.25em 2.5em;
  border-radius: 10px;
  transition: 0.3s;
}
.btn--purple {
  background-image: linear-gradient(to right bottom, #7c2bb8, #ac5fe6);
  color: #ffffff;
  border: none;
}
.btn--purple:hover {
  background-image: linear-gradient(to left bottom, #7c2bb8, #7c2bb8);
  color: #ffffff;
}
.btn--purple-line {
  position: relative;
  color: #ac5fe6;
}
.btn--purple-line::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(to right bottom, #7c2bb8, #ac5fe6) border-box;
  -webkit-mask: linear-gradient(#ffffff 0 0) padding-box, linear-gradient(#ffffff 0 0);
  -webkit-mask-composite: xor;
  -mask-composite: exclude;
}
.btn--purple-line:hover {
  background-image: linear-gradient(to right bottom, #7c2bb8, #ac5fe6);
  color: #ffffff;
}
.btn--white-line {
  outline: solid #ffffff 1px;
  color: #ffffff;
}
.btn--white-line:hover {
  background-color: #ffffff;
  color: #1b45b4;
}

.navbar {
  position: fixed;
  top: 0;
  height: 86px;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(0, 111, 186, 0.5);
  backdrop-filter: blur(10px);
  cursor: pointer;
  z-index: 200;
}
@media only screen and (max-width: 1199.98px) {
  .navbar {
    padding: 0 1em;
  }
}
.navbar .navbar__left .navbar__title {
  margin: 1.625rem 0;
}
.navbar .navbar__mid .navbar__list {
  display: flex;
  gap: 2.5em;
  margin: 2em 0;
  margin-left: 10em;
  margin-right: 8em;
}
@media only screen and (max-width: 1199.98px) {
  .navbar .navbar__mid .navbar__list {
    gap: 2em;
    margin-left: 5em;
    margin-right: 3em;
  }
}
.navbar .navbar__mid .navbar__list .navbar__item {
  list-style: none;
  transition: 0.2s;
}
.navbar .navbar__mid .navbar__list .navbar__item:hover {
  transform: translateY(-2px);
}
.navbar .navbar__right {
  margin: 1.25em 0;
  display: flex;
  gap: 2.25em;
}
.navbar .navbar__right .navbar__sign-in,
.navbar .navbar__right .navbar__sign-up {
  text-decoration: none;
  padding: 0.75em 0.7em;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  transition: 0.2s;
}
.navbar .navbar__right .navbar__sign-in:hover,
.navbar .navbar__right .navbar__sign-up:hover {
  background-color: #ffffff;
  color: #006fba;
}
.navbar .navbar__right .navbar__sign-up {
  outline: solid 2px #ffffff;
}
.navbar .active {
  font-weight: 700;
}

.hero-container {
  text-align: center;
  color: #ffffff;
}
.hero-container .hero-bg {
  position: relative;
  width: 100%;
}
.hero-container .hero-bg .hero__bg-pic {
  position: absolute;
  top: -11em;
  left: -15em;
  width: 1680px;
  height: 806px;
  z-index: -1;
}
@media only screen and (max-width: 1199.98px) {
  .hero-container .hero-bg .hero__bg-pic {
    width: 1230px;
    height: 930px;
  }
}
.hero-container .container .hero__text {
  margin: 11em 10.7em 0 10.7em;
}
.hero-container .container .hero__text .hero__main-head {
  margin-bottom: 0;
}
.hero-container .container .hero__text .hero__sub-head {
  margin-top: 1.5em;
  margin-left: 9.25em;
  margin-right: 9.25em;
}
@media only screen and (max-width: 1199.98px) {
  .hero-container .container .hero__text .hero__sub-head {
    margin-left: 6.25em;
    margin-right: 6.25em;
  }
}
.hero-container .container .hero__button {
  margin: 3em 21.75em;
}
@media only screen and (max-width: 1199.98px) {
  .hero-container .container .hero__button {
    margin: 2.5em 17.75em;
  }
}
.hero-container .container .hero__button .hero__btn-trial {
  margin-left: 1.5em;
}
.hero-container .container .hero__dashboard {
  margin-bottom: 1.92em;
}
.hero-container .container .hero__dashboard .hero__dashboard-img {
  width: 1016px;
  height: 614px;
}
@media only screen and (max-width: 1199.98px) {
  .hero-container .container .hero__dashboard .hero__dashboard-img {
    width: 858px;
    height: 518.5px;
  }
}
.hero-container .container .hero__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.625em;
  margin-bottom: 5em;
}
.hero-container .container .hero__brand .hero__item {
  display: flex;
  gap: 0.8em;
}

.why {
  color: #14358a;
  margin-bottom: 5em;
}
.why .why__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.why .why__container .why__heading {
  text-align: center;
  margin: 2.6em 7.4em 2.1em 7.4em;
}
@media only screen and (max-width: 1199.98px) {
  .why .why__container .why__heading {
    margin-left: 3.4em;
    margin-right: 3.4em;
  }
}
.why .why__container .why__stats {
  width: 1100px;
  margin-bottom: 3em;
}
@media only screen and (max-width: 1199.98px) {
  .why .why__container .why__stats {
    width: 850px;
  }
}

.feature .feature__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature .feature__container .feature__header {
  text-align: center;
  color: #14358a;
  margin: 2.6em 8em 2.1em 8em;
}
@media only screen and (max-width: 1199.98px) {
  .feature .feature__container .feature__header {
    margin-left: 4em;
    margin-right: 4em;
  }
}
.feature .feature__container .feature__blocks {
  display: grid;
  grid-template-rows: repeat(3, 406px);
  grid-template-columns: repeat(2, 509px);
  row-gap: 4em;
  column-gap: 7em;
  margin-bottom: 5em;
}
@media only screen and (max-width: 1199.98px) {
  .feature .feature__container .feature__blocks {
    grid-template-columns: repeat(2, 415px);
    row-gap: 2em;
    column-gap: 7em;
  }
}
.feature .feature__container .feature__block-fam {
  padding: 3.2em 0;
}
.feature .feature__container .feature__block-fam .feature__title {
  margin: 0;
  margin-top: 0.8em;
}
.feature .feature__container .feature__block-fam .feature__para {
  margin-top: 0.8em;
  margin-bottom: 3em;
}
.feature .feature__container .feature__img {
  max-width: 509px;
  max-height: 406px;
  box-shadow: 0 16px 80 -12px #0097fe 5%;
}
@media only screen and (max-width: 1199.98px) {
  .feature .feature__container .feature__img {
    max-width: 415px;
  }
}
.feature .feature__container .feature__block-1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.feature .feature__container .feature__block-2 {
  grid-row: 1/2;
  grid-column: 2/-1;
}
.feature .feature__container .feature__block-3 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.feature .feature__container .feature__block-4 {
  grid-row: 2/3;
  grid-column: 2/-1;
}
.feature .feature__container .feature__block-5 {
  grid-row: 3/-1;
  grid-column: 1/2;
}
.feature .feature__container .feature__block-6 {
  grid-row: 3/-1;
  grid-column: 2/-1;
}

.integ {
  height: 1050px;
  background-image: url(../img/bg-integrations.png);
  background-size: 1749px;
  background-repeat: no-repeat;
  background-position: -13.5em 0;
  padding: 13.56em 16.875em;
}
@media only screen and (max-width: 1199.98px) {
  .integ {
    height: 1560px;
    background-image: url(../img/bg-integrations-2.png);
    background-size: 1535px;
    background-position: -35.5rem 0;
    padding: 10.56em 7.875em;
    clip-path: polygon(0% 0%, 100% 0, 100% 93%, 0 100%);
  }
}
.integ .integ__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.integ .integ__container .integ__heading {
  margin-bottom: 4em;
}
@media only screen and (max-width: 1199.98px) {
  .integ .integ__container .integ__heading {
    margin-bottom: 2em;
  }
}
.integ .integ__container .integ__heading .integ__heading-text {
  color: #ffffff;
}
.integ .integ__container .integ__cards {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  align-items: center;
  text-align: center;
}
@media only screen and (max-width: 1199.98px) {
  .integ .integ__container .integ__cards {
    flex-wrap: wrap;
  }
}
.integ .integ__container .integ__cards .integ__card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.5em;
}
@media only screen and (max-width: 1199.98px) {
  .integ .integ__container .integ__cards .integ__card {
    padding: 1.5em 10.5em;
  }
}
.integ .integ__container .integ__cards .integ__card .card {
  width: 284px;
  height: 342px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.integ .integ__container .integ__cards .integ__card .card .integ__icon {
  width: 64px;
}
.integ .integ__container .integ__cards .integ__card .card .integ__card-body {
  padding-top: 0;
}
.integ .integ__container .integ__cards .integ__card .card .integ__card-body .integ__heading {
  color: #006fba;
  margin: 0;
  margin-top: 1em;
}
.integ .integ__container .integ__cards .integ__card .card .integ__card-body .integ__para {
  color: #354263;
  margin-top: 0.75em;
  margin-bottom: 3em;
}

.article {
  padding: 5em 10.625em;
}
.article .article__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article .article__container .article__heading {
  color: #14358a;
  margin: 0;
}
.article .article__container .article__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-top: 4em;
}
@media only screen and (max-width: 1199.98px) {
  .article .article__container .article__cards {
    flex-wrap: wrap;
    gap: 1em;
  }
}
.article .article__container .article__cards .article__card {
  border-radius: 10px;
  overflow: hidden;
  width: 22.1em;
}
.article .article__container .article__cards .article__card .article__label {
  color: #ffffff;
}
.article .article__container .article__cards .article__card .card__body {
  padding: 1.5em;
}
.article .article__container .article__cards .article__card .card__body .card__heading {
  color: #006fba;
  margin: 0;
  word-break: keep-all;
}
.article .article__container .article__cards .article__card .card__body .card__fill {
  margin: 0;
  margin-top: 0.75em;
}
.article .article__container .article__btn {
  margin-top: 7em;
}

.cta {
  margin-top: 5em;
  text-align: center;
}
.cta .cta__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta .cta__container .cta__text .cta__heading {
  color: #14358a;
  margin: 0;
}
.cta .cta__container .cta__text .cta__para {
  color: #354263;
  margin: 0 26.5em;
  margin-top: 1.5em;
}
.cta .cta__container .cta__btn {
  margin-top: 4.25em;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.footer {
  background-image: url(../img/bg-footer.png);
  background-size: 1960px;
  background-repeat: no-repeat;
  background-position: -9em 0;
  margin-top: -9em;
  padding: 15.7em 10.5em 2.5em 10.5em;
  color: #ffffff;
}
.footer .footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer__container .footer__content {
  display: grid;
  grid-template-columns: 304px repeat(3, max-content);
  grid-column-gap: 8.9em;
  grid-template-rows: min-content max-content;
  margin-bottom: 4em;
}
.footer .footer__container .footer__content .footer__brand {
  grid-column: 1/2;
  grid-row: 2/-1;
  align-self: center;
}
.footer .footer__container .footer__content .footer__brand .footer__logo {
  margin: 0;
}
.footer .footer__container .footer__content .footer__brand .footer__text {
  margin: 0;
  margin: 1.5em 0 1.5em 0;
}
.footer .footer__container .footer__content .footer__brand .footer__social {
  display: flex;
  gap: 1em;
}
.footer .footer__container .footer__content .footer__brand .footer__social .footer__item {
  transition: 0.3s;
}
.footer .footer__container .footer__content .footer__brand .footer__social .footer__item:hover {
  transform: translateY(-5px);
}
.footer .footer__container .footer__content .footer__title-1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.footer .footer__container .footer__content .footer__title-3 {
  grid-column: 4/-1;
  grid-row: 1/2;
}
.footer .footer__container .footer__content .footer__title-text {
  margin: 0;
  margin-bottom: 0.625em;
}
.footer .footer__container .footer__content .footer__menu {
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s;
}
.footer .footer__container .footer__content .footer__menu:hover {
  transform: translateX(5px);
  text-decoration: underline;
}
.footer .footer__container .footer__content .footer__menus {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer .footer__container .footer__content .menus-1 {
  grid-column: 2/3;
  grid-row: 2/-1;
}
.footer .footer__container .footer__content .menus-2 {
  grid-column: 3/4;
  grid-row: 2/-1;
}
.footer .footer__container .footer__content .menus-3 {
  grid-column: 4/-1;
  grid-row: 2/-1;
}
.footer .footer__container .footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}
.footer .footer__container .footer__copyright .footer__line {
  width: 1104px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.footer .footer__container .footer__copyright .footer__copy-text .bold {
  font-weight: 700;
}
.footer .footer__container .footer__copyright .footer__copy-text .text--blue {
  color: #0097fe;
}
/*# sourceMappingURL=main.css.map */
